# Exclude Original folder
CloudVault-Original/

# Node
node_modules/
dist/
build/
.npm/

# Python / FastAPI
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment Variables
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log
