PROJECT_NAME="ClaudeVault API"
API_V1_STR="/api/v1"
SECRET_KEY="supersecretkey_please_change_in_production"
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL="mysql+pymysql://root:sakshi@7890@localhost:3306/claudevault"
BACKEND_CORS_ORIGINS='["http://localhost:3000", "http://localhost:5173"]'
